h1 {
    text-align: center;
}

#inputText {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    width: 500px;
}
#allButtons {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    justify-content: space-between;
}
#inputText {

}

body {
    background-color: royalblue;

}